@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

body{
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  position: relative;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb{
  background: #eee;
}